DirectoryIndex /public/index.php
RewriteEngine on

ReWriteRule ^/?question/(.*)$ /public/question.php?id=$1 [L]
ReWriteRule ^/?comments/(.*)$ /public/comments.php?id=$1 [L]
ReWriteRule ^/?search/(.*)/limit/(.*)$ /public_html/index.php?search=$1&limit=$2 [L]
ReWriteRule ^/?search/(.*)$ /public/index.php?search=$1 [L]
ReWriteRule ^/?notifications?max=(.*)?$ /public/notifications.php?max=$2 [L]
ReWriteRule ^/?notifications$ /public/notifications.php [L]
ReWriteRule ^/?profile/(.*)$ /public/profile.php?user=$1 [L]
ReWriteRule ^/?limit/(.*)$ /public/index.php?limit=$1 [L]
ReWriteRule ^/?publicapi/(.*)$ /public/api/publicapi.php?$1 [L]

ReWriteRule ^/?rfinduser$ /public/recovery/action_finduser.php [L]
ReWriteRule ^/?rresetpass$ /public/recovery/action_resetpass.php [L]

ReWriteRule ^/?userimg/(.*) /data/userimg/$1 [L]
ReWriteRule ^/?templates/(.*) /public/templates/$1 [L]
ReWriteRule ^/?favicon/(.*)$ /public/icon/$1 [L]
ReWriteRule ^/?styles/(.*)$ /public/styles/$1 [L]
ReWriteRule ^/?js/(.*)$ /public/js/$1 [L]

ReWriteRule ^/?register$ /public/register.php [L]
ReWriteRule ^/?login$ /public/login.php [L]
ReWriteRule ^/?home$ /public/index.php [L]
ReWriteRule ^/?ask$ /public/qask.php [L]
ReWriteRule ^/?blog/(.*)+$ /Blog/$1 [L]
 
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<FilesMatch "\.(css|png)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>