DirectoryIndex /public/index.php
RewriteEngine on

RewriteRule ^sitemap\.xml/?$ /public/sitemap.php

ReWriteRule ^/?question/(.*)$ /public/question.php?id=$1 [L]
ReWriteRule ^/?comments/(.*)$ /public/comments.php?id=$1 [L]
ReWriteRule ^/?search/(.*)/limit/(.*)$ /public_html/index.php?search=$1&limit=$2 [L]
ReWriteRule ^/?search/(.*)$ /public/index.php?search=$1 [L]
ReWriteRule ^/?notifications?max=(.*)?$ /public/notifications.php?max=$2 [L]
ReWriteRule ^/?notifications$ /public/notifications.php [L]
ReWriteRule ^/?profile/(.*)$ /public/profile.php?user=$1 [L]

ReWriteRule ^/?logout /public/profile.php?logout=true [L]
ReWriteRule ^/?limit/(.*)$ /public/index.php?limit=$1 [L]
ReWriteRule ^/?publicapi/(.*)$ /public/api/publicapi.php?$1 [L]

ReWriteRule ^/?finduser$ /public/finduser.php [L]
ReWriteRule ^/?resetpass$ /public/resetpass.php [L]
ReWriteRule ^/?help/(.*)$ /public/pages/help/$1 [L]


ReWriteRule ^/?userimg/(.*) /data/userimg/$1 [L]
ReWriteRule ^/?templates/(.*) /public/templates/$1 [L]
ReWriteRule ^/?favicon/(.*)$ /public/icon/$1 [L]
ReWriteRule ^/?styles/(.*)$ /public/styles/$1 [L]
ReWriteRule ^/?js/(.*)$ /public/js/$1 [L]

ReWriteRule ^/?register$ /public/register.php [L]
ReWriteRule ^/?login$ /public/login.php [L]
ReWriteRule ^/?home$ /public/index.php [L]
ReWriteRule ^/?ask$ /public/qask.php [L]
ReWriteRule ^/?blog/(.*)+$ /Blog/$1 [L]
 
ErrorDocument 404 /public/error.php 